<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block name %}Enter new password{% endblock %}

{% block content %}

<style>
    table.password_table {
        border-collapse: separate;
        border-spacing: 7px;

    }

    table.password_table>tbody>tr>th {
        vertical-align: top;
    }
</style>

<h1>Password change!</h1>
<form method="POST">
    {% csrf_token %}
    <table class="password_table">
        <thead>
            <tr>
                <th colspan="2">
                    Please enter your old password, for security's sake, and then enter your new password
                    twice so we can verify you typed it in correctly.
                </th>
            </tr>
        </thead>
        {{ form.as_table }}
        <tfoot>
            <tr>
                <td>
                    <button class="btn btn-success ml-2" type="submit">Change my password</button>
                </td>
            </tr>
        </tfoot>
    </table>
</form>

{% endblock %}